@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Azure SQL From BlazorServer</h1>

Welcome to your new app deployed via github actions. @DateTime.Now.ToString("ddddd MMMM dd, yyyy hh:mm:ss.ff tt (zzz)")
<p> Why is sourcecontols getting </p>

<code>
<pre>
    Run azure/webapps-deploy@v2
  with:
    app-name: hqdqhengdtz4w-website
    publish-profile: ***
    package: ./published
    slot-name: production
  env:
    AZURE_WEBAPP_NAME: hqdqhengdtz4w-website
    AZURE_WEBAPP_PACKAGE_PATH: ./published
    CONFIGURATION: Release
    DOTNET_CORE_VERSION: 6.0.x
    WORKING_DIRECTORY: .
    AZURE_HTTP_USER_AGENT: 
    AZUREPS_HOST_ENVIRONMENT: 
    DOTNET_ROOT: /home/runner/.dotnet
Package deployment using ZIP Deploy initiated.
Error: Failed to deploy web package to App Service.
Error: Deployment Failed with Error: Error: Failed to deploy web package to App Service.
Unauthorized (CODE: 401)
App Service Application URL: https://hqdqhengdtz4w-website.azurewebsites.net

</pre>
</code>
